// Fonts
$fuente_principal: 'Outfit', sans-serif;

// Sizes of media queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Default colors
$black: #000000;
$bg-black: #303030;
$bg-white: #F3F3F5;
$bg-body-tertary: #f8f9fa;
$bg-body: #191919;
$gray-darkness: #4d4d4d;
$white: #FFFFFF;
$gray: #e1e1e1;

// Custom colors
$paragraphy: #878787;
$gray-high: #6c6c6c;
$mora: #697199;
$primary: #0D6EFD;
$red: #FF0000;
$green: #198754;
$mountain-meadow: #91BEB7;
$flamingo: #FF6A18;
$vino: #9c4554;
$cream-can: #F2CE06;
$ziggurat: #56b7c2;

